doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand シフト
        
        p.navbar-text.navbar-right
          a(href="/logout") Sign out
    .container
      block content
