nav.navbar.fixed-top.navbar-expand-md.navbar-dark.py-1.py-md-2.shadow(style="background-color: #3f5c80;")
  a.navbar-brand(href="/")
    font(style="vertical-align: inherit;")
      font(style="vertical-align: inherit;") シフト
  if req.user
    button.navbar-toggler.collapsed.border.border-0(type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
  if req.user
    .collapse.navbar-collapse(id="navbarsExample04")
      ul.navbar-nav.ml-auto
        li.nav-item.active.pr-3
          a.nav-link(href="/users")
            font(style="vertical-align: inherit;")
              font(style="vertical-align:inherit;") Users
        li.nav-item.active.pr-3
          a.nav-link(href="/sleep")
            font(style="vertical-align: inherit;")
              font(style="vertical-align:inherit;") Sleep
        li.nav-item.active.pr-3
          a.nav-link(href="/shift")
            font(style="vertical-align: inherit;")
              font(style="vertical-align:inherit;") Shift
        li.nav-item.active.pr-3
          a.nav-link(href="/database")
            font(style="vertical-align: inherit;")
              font(style="vertical-align:inherit;") Database
        li.nav-item.active.pr-3
          a.nav-link(href="/logout")
            font(style="vertical-align: inherit;")
              font(style="vertical-align:inherit;") Sign out
            span.sr-only
              font(style="vertical-align: inherit;")
                font(style="vertical-align: inherit;") （現在）
