nav.col-md-3.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a.nav-link.active active
      li.nav-item
        a.nav-link link
      li.nav-item
        a.nav-link link
