nav.col-md-3.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    ul.nav.flex-column
      each item in side
        li.nav-item
          a.nav-link(class=item.active, href=item.href)= item.text
