h1= `${main.title}`
div.table-responsive
  table.table.table-striped
    thead
      tr
        each val, index in main.results[0]
          th= index
    tbody
      each date in main.results
        tr
          each val, index in date
            td= val
