extends ./../layout.pug

block content
  main.col-md-9.ml-sm-auto.px-4.pt-3
    h1= tablename
    div.table-responsive
      table.table.table-striped
        thead
          tr
            each val, index in tabledate[0]
              th= index
        tbody
          each date in tabledate
            tr
              each val, index in date
                td= val
