extends ./../layout.pug

block content
  if main
    h1 week
    div.table-responsive
      table.table.table-striped
        tr
          each date in main.week
            th= date
    h1 main
    div.table-responsive
      table.table.table-striped
        each val, index in main
          tr
            th= index
            td= val
