extends ./../layout.pug

block content
  main.col-md-9.ml-sm-auto.pt-3.px-4
    each main in mains
      if main.type=='table'
        include ./../includes/mains/table.pug
      if main.type=='component'
        include ./../includes/mains/component.pug
