extends ./../layout.pug

block content
  each date in section
    section.card.card-cascade.narrower.mb-5.shadow
      .card-body.card-body-cascade
        h1.h3 section.date
        mixin list(items)
          div.table-responsive
            table.table.table-striped
              each val, index in items
                tr
                  th= index
                  td= val
                    if val instanceof Object
                      +list(val)
        +list(date)