extends ./../layout.pug

block content
  section.card.card-cascade.narrower.mb-5.shadow
    .card-body.card-body-cascade
      h1.h3 シフト
      hr
      #shift
      script(src="./dist/shift.js")
      each date in main.results.users
        +setdata('Users', `${date.userid}, ${date.username}`)
      each date in main.results.plans
        +setdata('Plans', `${date.planid}, ${date.userid}`)
