extends ./../layout.pug

block content
  section.card.card-cascade.narrower.mb-5.shadow
    .card-body.card-body-cascade
      h1 休み希望カレンダー
      hr
      #calendarform
      script(src="./dist/calendarform.js")
      each date in main.results
        script= `calendarform.onCheckDate('${date.id}', '${date.date}')`
