extends ./../layout.pug

block content
  each val, index in section
    section.card.card-cascade.narrower.mb-4.shadow
      .card-body.card-body-cascade
        h1.h3
          a(href=`./database/${index}`)= index
        mixin list(items)
          div.table-responsive
            table.table.table-striped
              each val, index in items
                tr
                  th= index
                  td= val
                    if val instanceof Object
                      +list(val)
        +list(val)